<div ng-controller="dinosController">
  <div ng-repeat="dino in dinos">
    <h1>{{ dino.name }}</h1>
    <h2>{{ dino.tag }}</h2>
    <h3>Period: {{ dino.period }}</h3>
    <p>Description: {{ dino.description }}</p>
  </div>
</div>
