<div ng-controller="dinosController" class='container-fluid'>
  <div class="row">
    <a ng-click="previousDino()" class='dino-nav dino-nav-left col-sm-3 col-xs-1'>
      &lt;
    </a>
    <div class='dino col-sm-6 col-xs-2'>
      <h1>{{ dino.name }}</h1>
      <img ng-src="{{ dino.image_name }}"></img>
      <h2>{{ dino.tag }}</h2>
      <h3>Period: {{ dino.period }}</h3>
      <p>{{ dino.description }}</p>
    </div>
    <a ng-click="nextDino()" class='dino-nav dino-nav-right col-sm-3 col-xs-1'>
      &gt;
    </a>
  </div>
</div>
